<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <welcome-file-list>
    <welcome-file>SelectServlet</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  	<servlet-name>SelectServlet</servlet-name>
  	<servlet-class>com.servlet.SelectServlet</servlet-class>
  	
  </servlet>  
  <servlet-mapping>
  	<servlet-name>SelectServlet</servlet-name>
  	<url-pattern>/SelectServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>SelectByIdServlet</servlet-name>
  	<servlet-class>com.servlet.SelectByIdServlet</servlet-class>
  	
  </servlet>  
  <servlet-mapping>
  	<servlet-name>SelectByIdServlet</servlet-name>
  	<url-pattern>/SelectByIdServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>AddServlet</servlet-name>
  	<servlet-class>com.servlet.AddServlet</servlet-class>
  	
  </servlet>  
  <servlet-mapping>
  	<servlet-name>AddServlet</servlet-name>
  	<url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<servlet-class>com.servlet.DeleteServlet</servlet-class>
  	
  </servlet>  
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<servlet-class>com.servlet.UpdateServlet</servlet-class>
  	
  </servlet>  
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  
</web-app>